*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	background: black;
}

.play, .difficulty{
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid white;
}

.play {
    background-color: green;
}

/* .reset {
    background-color:red;
} */

.container {
	max-width: 800px;
	margin: 2rem auto;
}

.bg-blue {
	background-color: blue;
}

.bg-red {
	background-color: red;
}

.square
{
	display: flex;
	flex-wrap: wrap;

	.cell,
	.cell2,
	.cell3,
	.cell4
	{
		width: calc(100% / 10);
		aspect-ratio: 1 / 1;
		border: 2px solid white;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.cell2 {
		width: calc(100% / 9);
	}

	.cell3 {
		width: calc(100% / 7);
	}

	.cell4 {
		width: calc(100% / 4);
	}

}

.printEnd, .printInstruction {
	color: red;
	text-align: center;
}

